<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h1>SSSL Regisztráció Admin felület</h1>
  </div>

  <div class="col-12 text-center">
    <h3>Az oldal használatához be kell jelentkezned!</h3>
  </div>

  <div class="col-12 text-center">
    <%= button_to 'Bejelentkezés', '/auth/authsch', class: 'btn btn-primary', method: :post %>
  </div>
</div>


