<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h1>SSSL Regisztráció Admin felület</h1>
  </div>

  <div class="col-12 text-center">
    <h3>Az oldal használatához be kell jelentkezned!</h3>
  </div>

  <div class="col-12 text-center">
    <%= form_tag('/auth/authsch', method: 'post') do %>
      <button type='submit' class="btn btn-primary">Bejelentkezés</button>
    <% end %>
    </div>
</div>


